
server:
  port: 7002
spring:
  profiles: test
  application:
    name: gw-harvester
  zipkin:
    baseUrl: http://localhost:9411/
  sleuth:
    sampler:
      percentage: 1.0
environment: test
servers:
- 18767
- 16112

---
server:
  port: 7003
spring:
  profiles: prod
  application:
    name: gw-harvester
  zipkin:
    baseUrl: http://localhost:9411/
  sleuth:
    sampler:
      percentage: 1.0
environment: production
servers:
- 8000
- 8001
#- 18767
#- 16112