server:
  port: 7003
spring:
  profiles: prod
  application:
    name: gw-security
  zipkin:
    baseUrl: http://localhost:9411/
  sleuth:
    sampler:
      percentage: 1.0
environment: production
servers:
- 7003